name: 'Gitbook Action Build'

on:
    push:
        branches:
            - master # trigger branch

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [8]

        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}
            - name: install_gitbook_plugins
              run: |
                  npm install gitbook-cli  -g
                  gitbook -v
                  gitbook install
            - name: install ebook-convert
              run: |
                  sudo -v && wget -nv -O- https://download.calibre-ebook.com/linux-installer.sh | sudo sh /dev/stdin
                  ebook-convert --version
            - name: build_gitbook
              run: |
                  gitbook build
            - name: build pdf
              run: |
                  gitbook pdf ./
            - name: push_to_pages
              run: |
                  cd ./_book
                  git init
                  git config --local user.name "${GITHUB_ACTOR}"
                  git config --local user.email "${GITHUB_ACTOR}@users.noreply.github.com"
                  git add *
                  git commit -m "Update by gitbook-action"
